desktopScanner/desktopScanner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
desktopScanner/desktopScanner.xcodeproj/project.xcworkspace/xcuserdata/tani.xcuserdatad/UserInterfaceState.xcuserstate
desktopScanner/desktopScanner.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/desktopScanner.xcscheme
desktopScanner/desktopScanner.xcodeproj/xcuserdata/tani.xcuserdatad/xcschemes/xcschememanagement.plist
